.top {
    background-color: #3b5762;
}

.top2 {
    background-color: #5c7c79;
}

.head {
    color: white;
    border-radius: 0.5em 0.5em 0em 0em
}

.odd > td{
    background-color: #f6f6f6;
}

th {
    text-align: left;
    background-color: #efefef;
    margin-left: 2px;
    margin-right: 2px;
}